body
{
    color: $white;
    min-width: 240px;
    width: 100%;
    background-image: linear-gradient(
        90deg,
        $c1,
        $c2      
        );
}

main
{
    padding-top: 55px;
}

a:hover
{
    text-decoration: none;
}

input,
select,
textarea
{
    text-align: center;
    font-size: 1.5em;
    border-radius: 5px;
    border: 1px solid $c2;
    color: $c3;
    width: 100%;
    // margin: 0.5em;
    &:focus
    {
        background-color: $white;
        border: 1px solid $c3;

    }
   
}

select
{
    &:focus
    {
        background-color: $white;
        border: 1px solid $c3;
        
    }
    // & > option:checked
    // {
    //     background-color: $c3;
    //     color: $white;
    //     border-radius: 10px;
    // }
}

textarea
{
    font-size: 2em;
}

.separador
{
    border-color: $c3;
    border-width: 1px;
    border-style: bold;
    width: 100%;
}

.button
{
    margin: 1em;
    color: $white;
    background: $c3;
    transition: all .5s ease-in-out;
    &:hover
    {
        color: $white;
        // background-image: linear-gradient(
        // 90deg,
        // $c2,
        // $c3      
        // );
        background: $c2;
    }
}