.main-trabajo1
{
    &__grafico
    {
        border: 2px solid $c3;
        padding: 3em;
        margin-bottom: 1em;
    }
    &__ingreso-datos
    {
        margin: 0.5em;
        
    }
    &__instrucciones
    {
        padding-bottom: 1em;
        padding-top: 0.5em;
        text-align: center;
    }
}
.main-recorridos
{
    padding: 2em;
    &__title
    {
        font-size: 3em;
        text-decoration:underline;
        padding-bottom: 0.5em;
        color: $c3;
    }
    &__contenedor
    {
        @include from(l)
        {
            @include mainCenter;
        }
    }
    &__recorrido
    {
        list-style: none;
        font-size: 1.5em;
        font-weight: normal;
        // padding: 0.3em;
        span
        {
            color: $c3;
            font-weight: bold;
            padding-right: 0.5em;
        }
        
    }
}

.icon-lista
{
    // background: #000;
    color: $c3;
    font-size: 1em;
}

