.main-trabajo2
{
    &__title
    {
        font-size: 1.2em;
        
    }
     &__grafico
    {
        border: 2px solid $c3;
        // padding: 3em;
        margin-bottom: 1em;
        height: 400px;
    }
}